.upload-body
{
	padding-top:0;
}
body {  
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 40000;
  color: #64686d;
  line-height: 26px;
}
.btn-info1
{
	color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.success-msg
{
	color:#46b8da;
	font-weight:600;
}
.error-msg
{
	color:#e60000;
}